<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/5afa3d64-4a45-4a05-bbb4-189e95a0b97b/resourceGroups/voca-system-RG/providers/Microsoft.ContainerRegistry/registries/vocasystem</ResourceId>
    <ResourceName>vocasystem</ResourceName>
    <ResourceGroup>voca-system-RG</ResourceGroup>
    <Subscription>VocaCIC R&amp;D</Subscription>
    <RegistryUrl>https://vocasystem.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>1245d271-ce46-49ba-bf70-657391b7acc4</ProjectGuid>
    <_TargetId>AzureContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>